:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --title-color: #212121;
  --description-color: #757575;
  --accent-color: #2196f3;
  --background: #2f303a;
  --background-section: #f5f4fa;
  --bcg-btn: #f5f4fa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*  ============ COMPONENTS ============ */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-second-color {
  color: #2196f3;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.hero,
.footer {
  background-color: var(--background);
}

/*  ============ END COMPONENTS ============ */

/*  ============ HEADER ============ */
.header {
  padding: 32px 0;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list,
.adress-list {
  display: flex;
}

.header .adress {
  margin-left: auto;
}

.header .logo {
  margin-right: 93px;
}

.nav-list-li:not(:last-child) {
  margin-right: 50px;
}

.adress-list-li:not(:last-child) {
  margin-right: 50px;
}

.logo-light-theme-color {
  color: #000000;
}

.nav-list-link,
.adress-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.nav-list-link {
  color: #212121;
}

.adress-list-link {
  font-style: normal;
  color: #757575;
}

.nav-list-link:hover,
.nav-list-link:focus,
.adress-list-link:hover,
.adress-list-link:focus {
  color: var(--accent-color);
}

.nav-list-link.current {
  color: var(--accent-color);
}

/* .nav-list-link[href='./portfolio.html']:active {
  color: red;
} */

/*  ============ END HEADER ============ */

/*  ============ HERO ============ */
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  max-width: 696px;
  margin-top: 200px;
}

.modal-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);

  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  display: flex;
  margin-top: 30px;
}

/*  ============ END HERO ============ */

/*  ============ NONAME SECTION ============ */

.noname-list {
  display: flex;
}

.noname-list-li:not(:last-child) {
  margin-right: 30px;
}

.noname-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.noname-list-text {
  min-width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-color);

  /* padding-right: 2px; */
}
/*  ============ END NONAME SECTION ============ */

/*  ============ WORK SECTION ============ */

.work {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}

.work-list-li:not(:last-child) {
  margin-right: 30px;
}

.work .title {
  margin-bottom: 50px;
}

/*  ============ END WORK SECTION ============ */

/*  ============ TEAM ============ */

.team {
  /* padding-top: 94px; */
  background: var(--background-section);
}

.team-list {
  display: flex;
}

.team-list-li:not(:last-child) {
  margin-right: 30px;
}

.team-list-li {
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .title {
  margin-bottom: 50px;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  margin-top: 30px;
  margin-bottom: 10px;
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);

  margin-bottom: 30px;
}

/*  ============ END TEAM ============ */

/*  ============ FOOTER  ============ */

.footer {
  padding-top: 60px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-list-li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress,
.footer-adress-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-adress {
  color: #ffffff;
}

.footer-adress-list-link {
  color: rgba(255, 255, 255, 0.6);
}

.logo-dark-theme-color {
  color: #ffffff;
}

/*  ============ END FOOTER  ============ */

/*  ============ PORTFOLIO PAGE  ============ */
.portfolio-menu {
  display: flex;
  justify-content: center;
  height: 54px;
}

.portfolio-menu-list {
  display: flex;
  justify-content: center;
}

.portfolio-menu-li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 34px;
}

.portfolio-items-li:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-items-li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-list-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--bcg-btn);

  min-width: 73px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  padding: 6px 22px;
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio-items-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-items-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
/*  ============ END PORTFOLIO PAGE  ============ */
